<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type='text/javascript' src='{{ MEDIA_URL }}js/mootools-1.2.5-core-yc.js'></script>
    <link rel='stylesheet' href='{{ MEDIA_URL}}/css/common.css' />
  </head>
  <body>
    <script type='text/javascript'> 
      document.addEvent('domready', function(){
        $('my-link').addEvent('click', function (){
            alert('dddd');})
      })
    </script>
      <h1> Homecreditbank 'REQUEST'</h1>
      <div id="my-link"> hii {{ user.username }}</div>      
      <div id="menu">
          <a href="{% url add_inc %}">Создать новую заявку </a>
          <a href="{% url new_incident %}">Создать новую заявку 2</a>
          <a href="{% url list_inc %}">Журнал заявок</a>
          <a href="{% url logout %}"> Выйти </a>
      </div>
      {% block content %}
      {% endblock %}
  </body>
</html>
