{% extends "base.html" %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Автор</th>
			<th>Отвественные<th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
       {% for incident in incidents %}
        <tr>
	        <td><a href="{{ incident.get_absolute_url }}">{{ incident.id }}</a></td>
	       	<td>{{ incident.timestamp|date:"jS F Y H:i"  }}</td>
		    <td>{{ incident.title }}</td>
	        <td>{{ incident.author }}</td>
	        <td>{{ incident.get_list_resp }}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>

 
{% endblock %}
